@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

*{
    border: none;
    padding: 0;
    margin: 0;
}

body{
    color: black;
    font-family: lato, sans-serif;
    font-weight: 300;
}

/*-- logo and nav bar--*/

header{
    background: #ccf381;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: baseline;
    font-family: roboto, sans-serif;
    letter-spacing: 2px;
    border: 2px black solid;

}

nav ul{
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    padding: 15px;
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
    padding-right: 15px;
}

a:hover{
    color: red;
    text-decoration: inherit;
    background-color: transparent;
}

/*-- main image and content circle--*/

.main-image{
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-color: #ccf381;
    background: url(../css/images/pexels-lukas-296302\ \(2\).jpg) no-repeat center center;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.text-content{
    background: #ccf381;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    margin-right: 30px;
}

.quote-div{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #ccf381;
    padding: 15px;
    letter-spacing: 2px;
    font-family: roboto, sans-serif;
}

/*--about us--*/

.about-us{
    height: 700px;
    display: flex;
    flex-direction: row;
    width: auto;
    border-bottom: #ccf381;
    background-color: whitesmoke;
}

/*--left div text content--*/

.left-div{
    width: 50%;
}

.left-div h2{
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    padding: 30px 0 0 20px;
}

.list-align{
    color:  black;
    list-style-type: disc;
    font-size: 20px;
    line-height: 40px;
    width: 50%; 
    font-weight: bold;
    padding: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
}

/*--right div image--*/
    
.right-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.right-div img{
    height: 400px;
    width: 400px;
}

/*--google map image--*/

iframe{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/*--footer--*/

footer{
    background: #ccf381;
    width: 100%;
    padding: 30px;
    border: 2px black solid;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.social-media i{
    color: black;
    font-size: 30px;
}

i{
    color: green;
    text-decoration: none;
}

i:hover{
    color: red;
    text-decoration: none;
    background-color: transparent;
}

/*--sign up--*/

.sign-up-image{
    height: 600px;
    width: 100%;
    background-color: #ccf381;
    background: no-repeat;
    overflow: hidden;
}

.signup-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url(../css/images/1189883.jpg);
    height: 80vh;
}

.signup-form form{
    border:2px solid black;
    text-align: center;
    height: 350px;
    width: 300px;
    background-color: whitesmoke;
    padding: 20px;
    color: black;
    line-height: 40px;   
}

.signup-button{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:2;
}

/*--gallery--*/

.gallery-photos{
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: 0px;
    background-color: blue;

}

.gallery-photos > img{
     width: 100%;
}

/*--media queries--*/

@media screen and (max-width: 400px){
    .heading-div{
        margin: 0;
        height: 100%;
        width: 100%;

    }

    .left-div .right-div{
        clear:both;
    }
    }











 




   
   
   














