@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

*{
    border: none;
    padding: 0;
    margin: 0;
}

body{
    color: black;
    font-family: lato, sans-serif;
    font-weight: 300;
}

/*-- logo and nav bar--*/


header{
    background: greenyellow;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: baseline;
    font-family: roboto;
    letter-spacing: 2px;
    border: 2px black solid;

}

nav ul{
    list-style-type: none;
    font-size: 130%;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    padding: 15px;
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
    padding-right: 15px;
}

a:hover{
    color: red;
    text-decoration: inherit;
    background-color: transparent;
}

/*-- main image and content circle--*/

.main-image{
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-color: yellow;
    background: no-repeat center center;
}

.text-content{
    float:right;
    border:2px solid black;
    text-align: center;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: yellowgreen;
    padding-top: 50px;
    bottom: 250px;
    right: 200px;
    position: absolute;
    color: black;
}

/*--about us--*/

.about-us{
    height: 600px;

}

.heading-div{
background: greenyellow;
width: 100%;
display: flex;
justify-content: center;
padding: 15px;
align-items: center;
font-family: roboto, sans serif;
letter-spacing: 2px;
border: 2px black solid;
}

.left-div{
    width: 50%;
    height: 600px;
    background-color: white;
    float: left; 
    display: flex;
    align-items: center;
    justify-content: center;

}

.left-div h2{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 200%;
    color: black;
}

.list-align{
    color:  black;
    list-style-type: disc;
    font-size: 150%;
    line-height: 40px;
    width: 60%;
    
}
    
.right-div{
    width: 50%;
    height: 600px;
    background-color: white;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center

}

.right-div img{
    height: 400px;
    width: 400px;
}






   
   
   














