@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

*{
    border: none;
    padding: 0;
    margin: 0;
}

body{
    color: black;
    font-family: lato, sans-serif;
    font-weight: 300;
}

/*-- logo and nav bar--*/


header{
    background: greenyellow;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: baseline;
    font-family: roboto;
    letter-spacing: 2px;
}

nav ul{
    list-style-type: none;
    font-size: 130%;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    padding: 15px;
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
    padding-right: 15px;
}

a:hover{
    color: red;
    text-decoration: inherit;
    background-color: transparent;
}

/*-- main image--*/

.main-image{
    height: 600px;
    width: 100%;
    overflow: hidden;
}



