@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

*{
    border: none;
    padding: 0;
    margin: 0;
}

body{
    color: black;
    font-family: lato, sans-serif;
    font-weight: 300;
}

/*-- logo and nav bar--*/

header{
    background: #ccf381;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: baseline;
    font-family: roboto, sans-serif;
    letter-spacing: 2px;
    border: 2px black solid;

}

nav ul{
    list-style-type: none;
    font-size: 130%;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    padding: 15px;
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
    padding-right: 15px;
}

a:hover{
    color: red;
    text-decoration: inherit;
    background-color: transparent;
}

/*-- main image and content circle--*/

.main-image{
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-color: #ccf381;
    background: no-repeat center center;
}

.text-content{
    float:right;
    border:2px solid black;
    text-align: center;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: #ccf381 ;
    padding-top: 50px;
    bottom: 250px;
    right: 200px;
    position: absolute;
    color: black;
}

/*--about us--*/

.about-us{
    height: 600px;

}

.heading-div{
    background-color: #ccf381;
    width: auto;
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    font-family: roboto, sans-serif;
    letter-spacing: 2px;
    border: 2px black solid;
    font-size: 150%;
}

/*--left div text content--*/

.left-div{
    width: 50%;
    height: 600px;
    background-color: whitesmoke;
    float: left; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;

}

.left-div h2{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 200%;
    color: black;
    padding-bottom: 70%;
}



.list-align{
    color:  black;
    list-style-type: disc;
    font-size: 150%;
    line-height: 30px;
    width: 60%; 
    font-weight: bold;
}

/*--right div image--*/
    
.right-div{
    width: 50%;
    height: 600px;
    background-color: whitesmoke;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;

}

.right-div img{
    height: 400px;
    width: 400px;
}

/*--google map image--*/

iframe{
    height: 400px;
    width: 100%;
    overflow: hidden;
    object-fit: contain;
    background-color: yellow;
    background: no-repeat center center;
}

/*--footer--*/

.social-media{
    text-align: center;
    border: 2px solid black;
    padding: 25px;
    background-color: #ccf381;
    list-style-type: none;
    width: auto;
    height: 30px;
}

.social-media li{
    display: inline;
}

.social-media i{
    padding: 0 100px;
    color: black;
    font-size: 35px;
}

i{
    color: green;
    text-decoration: none;
}


i:hover{
    color: red;
    text-decoration: none;
    background-color: transparent;
}

.social-media h2{
    font-family: roboto, sans-serif;
    font-size: 200%;
}

/*--sign up--*/

.sign-up-image{
    height: 600px;
    width: 100%;
    background-color: #ccf381;
    background: no-repeat;
    overflow: hidden;
}

.signup-form{
    border:2px solid black;
    text-align: center;
    height: 350px;
    width: 300px;
    background-color: whitesmoke;
    padding: 20px;
    bottom: 23%;
    right: 39%;
    position: absolute;
    color: black;
    line-height: 40px;   
}

.signup-button{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:2;
}








 




   
   
   














